@tailwind base;
@tailwind components;
@tailwind utilities;

:focus-visible {
  outline: none;
}

body {
  margin: 0;
}

.app {
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(144,147,153,0.3);
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
  height: 6px;
}


::-webkit-scrollbar:vertical {
  width: 6px;
}

::-webkit-scrollbar-thumb:vertical {
  width: 6px;
}

@layer components {
  .custom-border-b {
    border-bottom: 1px solid rgba(0,0,0,0.15);
  }
}
