@tailwind base;
@tailwind components;
@tailwind utilities;

:focus-visible {
  outline: none;
}

body {
  margin: 0;
}

.app {
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(144,147,153,0.3);
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
  height: 6px;
}


::-webkit-scrollbar:vertical {
  width: 6px;
}

::-webkit-scrollbar-thumb:vertical {
  width: 6px;
}

.hover-bg-color:hover {
  background-color: #F5F5F5;
}

.custom-context-menu {
  @apply w-[12.5rem];
}

.custom-context-menu .ant-dropdown-menu {
  @apply px-0 py-2;
}



.custom-context-menu .ant-dropdown-menu .ant-dropdown-menu-item, .custom-context-menu .ant-dropdown-menu .ant-dropdown-menu-submenu {
  @apply flex items-center h-10 px-6 py-0;
  color: rgba(0,0,0,0.65);
}

.custom-context-menu .ant-dropdown-menu .ant-dropdown-menu-item:hover {
  @apply font-semibold;
  background-color: #F5F5F5;
}

.custom-context-menu.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item.ant-dropdown-menu-item-danger {
  color: #FF486E;
}

.custom-context-menu.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item.ant-dropdown-menu-item-danger:hover {
  color: #FF486E;
  background-color: #F5F5F5;
}

.custom-context-menu.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item.ant-dropdown-menu-item-disabled {
  color: rgba(0,0,0,0.25);
}

.custom-context-menu.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item.ant-dropdown-menu-item-disabled:hover {
  @apply font-normal;
  background-color: inherit;
  color: rgba(0,0,0,0.25);
}

.custom-context-menu .ant-dropdown-menu .ant-dropdown-menu-submenu {
  @apply cursor-pointer;
}

.custom-context-menu .ant-dropdown-menu .ant-dropdown-menu-submenu:hover {
  background-color: #F5F5F5;
}

.custom-context-menu .ant-dropdown-menu .ant-dropdown-menu-submenu:hover .ant-dropdown-menu-submenu-title {
  @apply font-semibold;
}

.custom-context-menu .ant-dropdown-menu .ant-dropdown-menu-submenu .ant-dropdown-menu-submenu-title {
  @apply h-full flex items-center -ml-6 px-6 py-0;
  width: calc(100% + 1.5rem);
  color: rgba(0,0,0,0.65);
}

.custom-context-menu .ant-dropdown-menu .ant-dropdown-menu-submenu .ant-dropdown-menu-submenu-title:hover {
  background: none;
}

.ant-tabs-content {
  @apply h-full;

  .ant-tabs-tabpane {
    @apply h-full
  }
}
